.app {
  margin: 0 auto;
  min-width: 500px;
  width: 80%;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.state-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: auto auto;
}

pre {
  background-color: #eee;
  border-radius: 10px;
  padding: 15px;
  white-space: pre-wrap;
  word-break: break-all;
}

.state-content {
  min-width: 0;
}